.grid-container-edit{
    display: grid;
    grid-template-columns: 260px 70px;
    grid-template-rows: 25px;
    grid-gap: 3px;
    padding: 10px;
}

.grid-new-elements {
    display: grid;
    grid-template-columns: 260px 100px 150px;
    grid-gap: 3px;
    padding: 8px;
}

.grid-list {
    display: grid;
    grid-template-columns: 300px ;
    grid-gap: 3px;
    padding: 8px;
}

.center-elements {
    align-items: center;
    justify-content: center;
}

.container-elements {
    margin: 10px 10px;
    padding: 3px;
}

.title > h1 {
    margin: 10px auto;
    text-align: center;
}

.center-text {
    margin: 5px 10px;
    padding: 3px;
    text-align: center;
}

.dancing {
    font-family: 'Dancing Script', cursive;
}

.lobster {
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

.btn {
    float: right;
    padding: 8px;
    font-size: 12px;
    color: #FFFFFF;
    border-radius: 15px;
}

.btn-add-item {
    width: 100px;
    height: 30px;
    background-color: #638cb5;
}

.btn-cancel {
    width: 60px;
    height: 30px;
    background-color: #D91111;
}